*{
    /*	outline: 1px solid red !important;*/
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    color:#2d3c49;
    font-weight: 300;
}

hr {
    height:5px;
    color:#7d97ad;
    background-color:#7d97ad;
}

.vertical-center {
    display: flex;
    align-items:center;
    justify-content:center;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.description {
    max-width:705px;
 }

 .screenshot {
     max-width:460px;
     margin:30px;
 }

 .app {
     display: -webkit-flex;
     display: flex;
 }
